requests[socks]==2.31.0
click==8.1.3
rich==13.3.4
clipman==3.1.0
pyperclip==1.8.2
appdirs==1.4.4
webchatgpt==0.3.0
GoogleBard1>=2.1.4
colorama==0.4.6
g4f>=0.2.6.1
pyyaml==6.0.1
matplotlib
gpt4all==2.2.0
poe-api-wrapper==1.3.6
python-dotenv==1.0.0
brotli==1.1.0
Helpingai-T2==0.3
fastapi[all]==0.110.1