[Desktop Entry]
Name=pytgpt
GenericName=pytgpt
Version=0.3.4
Type=Application
Comment=Interact with free LLMs.
Exec=/usr/bin/pytgpt
Terminal=true
Icon=/usr/share/applications/icons/pytgpt.png
Categories=Utils